NEXT_PUBLIC_SUPABASE_URL=xxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx
X_MEDIA_EXTRACTION_SECRET=d51da6ab256ea646ed0caf39103b567f78f7cc5fb2d9a8c07146075ee0f15202
X_MEDIA_EXTENSION_ORIGIN=chrome-extension://xxxx